body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-image: url(../img/main.png);

}

.top {
    height: 48px;
    display: block;
}

.fixed {
    position: fixed;
    height: 48px;
    width: 100%;
    z-index: 1039;
    background: url(../img/dark.png);
    padding: 0 20px;
    border-bottom: 4px solid #ef705b;
}

.fixed > a {
    color: #ffffff;
    font-size: 25px;
    float: left;
    padding-top: 10px;
}

.has-error {
    display: none;
    background-color: pink;
    height: 30px;
}

.has-error > span {
    padding-left: 10px;
}

.table {
    width: 351px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    margin-top: 62px;
    float: none;

}

.tab-content {
    overflow: auto;
    background: #fcfcfc;
    border: 1px solid #d5d5d5;
    margin-top: 1px;
    padding: 14px;
    box-shadow: 0 1px 0 #fff inset, 0 1px 1px #ECECEC;
    text-align: center;
}

.btn-success {
    display: none;
    margin-top: 20px;
    width: 322px;
}

.selectpicker {
    width: 200px;
}

.format {
    display: none;
}

.footer {
    box-sizing: border-box;
    background: url(../img/dark.png);
    height: 42px;
    width: 100%;
    padding: 0 20px;
    border-top: 4px solid #EF705B;
    position: absolute;
    bottom: 0;
    font-size: 11px;
    color: #fff;
}